/* Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Tinos:ital,wght@0,400;0,700;1,400;1,700&display=swap');

body {
    font-family: 'Tinos', serif;
    padding-top: 220px; /* Adjusted for fixed navbar height */
}

/* Logo Styling */
.navbar .logo {
    height: 200px;
    width: auto;
}

/* Buttons */


.custom-button-outline {
    border: 1px solid green;
    padding: 7px 25px;
    background-color: #b3e2b6;
}

.custom-button-outline:hover {
    background-color: #75ba75;
    color: black
}

/* Navigation Bar Styling */
.navbar {
    background-color: #060714;
    color: white
}

.navbar-nav {
    display: flex;
    flex: auto;
    justify-content: end;
    padding: 10px;
    font-size: 40px;
}
/* Navigation Links Styling */
#nav {
    color: white;
    margin: 10px;
}
/* Header Styling */
.header {
    text-align: center;
    padding: 30px 30px;
    background-color: #3f7f90
}

.header h2 {
    font-size: 50px;
    margin-bottom: 20px;
}

.header-image img {
    border-radius: 50%;
    height: 200px;
    width: 200px;
    object-fit: cover;
    margin-bottom: 15px;
    margin-top: 15px;
}

/* About Me Section */
#about-me {
    padding: 20px 20px;
    background-color: #b3e2b6;
    text-align: center;
}



/* Portfolio Section */

#portfolio {
    padding: 50px 20px;
    background-color: #e6f2f0;
    text-align: center;
    padding-top: 250px;
}
#portfolio .card {
    margin: 15px auto;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
}
#portfolio .card-body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/* Love Running & Boardwalk Games pages */
.grid-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);    
}
    
.div1 {
    grid-column-start: 1;
    grid-row-start: 1;
    /* to push the carousel down for nav link space */
    padding-top: 250px;
}
.div2 {
    grid-column-start: 1;
    grid-row-start: 2;
}

.div3 {
    grid-row: span 2 / span 2;
    grid-column-start: 2;
    grid-row-start: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    margin: auto;
    font-size: 1.5rem
}
        

 /* Carousel container to center carousels and add padding */
.carousel-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 30px;
}
.carousel-container h3 {
    text-align: center;
    margin-bottom: 15px;
}
    


/* Footer / contact */

#contact {
    background-color: #3f7f90;
    padding-bottom: 50px;
}

#contact .social-icons i {
    font-size: 2rem;
    padding: 5px;
    border: 1px solid blue;
    background-color: white;
    -webkit-transition:  0.3s ease-in-out;
    -o-transition: color 0.3s ease-in-out;
    transition: color 0.3s ease-in-out;
}


#contact .table-primary * {
    background-color: transparent;
}

/* Media queries */

/* Small screens and up */
@media screen and (min-width: 576px) {
    
}

/* Medium devices (tablets, 768px and up) */
@media screen and (min-width: 768px) {
   
}

/* Large devices (small laptops, 992px and up) */
@media screen and (min-width: 992px) {
    #projects .card {
        max-width: 325px;
    }
}

/* xl devices (large desktops, 1200px and up) */
@media screen and (min-width: 1200px) {
    #projects .card {
        max-width: 400px;
    }
}

/* xxl devices (larger desktops, 1400px and up) */
@media screen and (min-width: 1400px) {
    #projects .card {
        max-width: 450px;
    }
}