/* Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Tinos:ital,wght@0,400;0,700;1,400;1,700&display=swap');

:root {
    font-family: 'Tinos', serif;
    padding-top: 125px;
    /* Adjusted for fixed navbar height */
}

/* Button Styling */
.btn {
    background-color: #0d6efd;
    border: none;
    color: white;
}

/* Button Hover Effect */
.btn:hover {
    background-color: #0b5ed7;
    color: white;
}

/* Carousel Button Styling */
#carousel-btn {
    height: 5px;
}

/* Headings Styling */
h1 {
    margin: 20px;
    color: #000000
}

h2 {
    font-size: 50px;
    padding: 20px;
    color: #000000
}


/* Logo Styling */
.navbar .logo {
    height: 100px;
    width: auto;
}

/* Navigation Bar Styling */
.navbar {
    background-color: #060714;
    color: white;
}

.navbar-nav {
    display: flex;
    flex: auto;
    justify-content: end;
    padding: 10px;
    font-size: 40px;
}

/* Navigation Links Styling */
.nav-link {
    color: white;
    margin: 10px;
}

.navbar-toggler {
    background-color: white;
}

/* Header Styling */
.header {
    text-align: center;
    padding: 100px 30px;
    background-image: linear-gradient(to bottom, #3f7f90, #689368);
}

/* About Me Section */
.header-image-jw img {
    justify-content: center;
    border-radius: 50%;
    height: 200px;
    width: 200px;
    object-fit: cover;
    margin-bottom: 15px;
    margin-top: 140px;
    background-image: linear-gradient(to bottom, #689368, #3f7f90);
}

#about-me {
    padding: 50px 30px;
    background-image: linear-gradient(to bottom, #689368, #3f7f90);
    text-align: center;
}



/* Portfolio Section */

#portfolio {
    padding: 50px 20px;
    background-image: linear-gradient(to bottom, #3f7f90, #689368);
    text-align: center;
    padding-top: 200px;
    padding-bottom: 175px;
    color: #000000
}

#portfolio .portfolio-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#portfolio .card {
    padding: 50px 20px;
    margin: 20px 50px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
}

#portfolio .card-body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/* Love Running & Boardwalk Games page */
.container-fluid {
    display: flex;
    flex-wrap: wrap;
    flex-grow: 1;
    flex-shrink: 1;
    padding: 20px;
    justify-content: center;
}

#boardwalk-games {
    /* Changed padding to 150px push down to fit below navbar on clicking the link */
    padding-top: 170px;
    background-image: linear-gradient(to bottom, #689368, #3f7f90);
}

#love-running {
    /* Changed padding to 150px push down to fit below navbar on clicking the link */
    padding-top: 170px;
    background-image: linear-gradient(to bottom, #3f7f90, #689368);
}

/* Carousel container to center carousels and add padding */
.carousel-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 30px;
}

.carousel-container h3 {
    text-align: center;
    margin-bottom: 15px;
}

/* Footer / contact */
.contact-header {
    /* pushing the smaller logo down to fit below navbar*/
    text-align: center;
    padding-top: 50px;
    padding-bottom: 5px;
}

.contact-header-logo img {
    height: 150px;
    width: auto;
    margin-top: 20px;
}

#contact-me .container-fluid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    gap: 20px
}

/* Contact form section */
#contact-me {
    padding-bottom: 20px;
    background-color: #689368;
    text-align: center;
}

/* Footer Section */
#contact {
    background-image: linear-gradient(to bottom, #689368, #3f7f90);
    padding: 50px 20px;
}

#contact .container-fluid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    gap: 20px
}

#contact .social-icons i {
    font-size: 2rem;
    padding: 5px;
    border: 1px solid blue;
    background-color: white;
    -webkit-transition: 0.3s ease-in-out;
    -o-transition: color 0.3s ease-in-out;
    transition: color 0.3s ease-in-out;
}

#contact .table-primary * {
    background-color: transparent;
}

/* Success Page */
#success {
    padding: 120px 20px;
    background-color: #689368;
    text-align: center;
}

/* Media queries */

/* Extra small devices (phones, less than 576px) */
@media screen and (max-width: 575.98px) {
    #boardwalk-games .carousel-container {
        max-width: 100%;
    }
    #boardwalk-games h2,
    #love-running h2 {
        font-size: 40px;
        }
    }

    /* Small screens and up */
    @media screen and (min-width: 576px) {
    #boardwalk-games h2,
    #love-running h2 {
        font-size: 50px;
        }
    #boardwalk-games .carousel-container img,
    #love-running .carousel-container img,
    #description {
            padding-left: 20px;
        }
    }
    /* Medium devices (tablets, 768px and up) */
    @media screen and (min-width: 768px) {
        #projects .card {
            max-width: 250px;
        }
    }

    /* Large devices (small laptops, 992px and up) */
    @media screen and (min-width: 992px) {
        #projects .card {
            max-width: 325px;
        }
    }

    /* xl devices (large desktops, 1200px and up) */
    @media screen and (min-width: 1200px) {
        #projects .card {
            max-width: 400px;
        }
    }

    /* xxl devices (larger desktops, 1400px and up) */
    @media screen and (min-width: 1400px) {
        #projects .card {
            max-width: 500px;
        }
    }